name: Run CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    name: Scalafmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: VirtusLab/scala-cli-setup@v1
      - name: Check formatting
        run: scala-cli fmt --check .

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: VirtusLab/scala-cli-setup@v1
#      - name: Run tests (Scala LTS)
#        run: scala-cli test .
      - name: Run tests (Scala Next)
        run: scala-cli test . -S 3.8.2
