name: Publish
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: VirtusLab/scala-cli-setup@v1.12.3
      - name: Run tests
        run: scala-cli test .
      - name: Publish
        run: |
          scala-cli --power publish . \
            --user "env:${{ secrets.SONATYPE_USERNAME }}" \
            --password "env:${{ secrets.SONATYPE_PASSWORD }}" \
            --secret-key "env:${{ secrets.PUBLISH_GPG_KEY }}" \
            --secret-key-password "env:${{ secrets.PUBLISH_GPG_PASSPHRASE }}"
            --checks:all
